.results-page {
  min-width: 1000px;
  max-width: 1500px;;
  margin: 2rem auto;
  padding: 3rem 2rem;
  background-color: #ffffff;
  border-radius: 12px;
  color: #333;
}

.result-card {
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.1);
  margin-bottom: 2rem;
}

.result-card h3 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.result-card ul {
  list-style: none;
  padding-left: 0;
}

.result-card li {
  font-size: 1.05rem;
  margin-bottom: 0.75rem;
  padding: 0.5rem;
  border-left: 4px solid #a78bfa;
  background-color: #fff;
  border-radius: 6px;
}